{{ define "domain/webserver" }}

<!-- === Web Server === -->

<div class="col-md-6 col-xl-4">
    <div class="card">
        <div class="card-header pb-0">
            <h4>Web Server</h4>
            <hr>
        </div>
        <div class="card-body pt-0">
            {{ if ne .Web.Url "" }}
            <div class="dt-responsive table-responsive">
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td>Rating</td>
                            <td class="float-right label label-{{ if eq .Web.Rating "A" }}success{{ else }}warning{{ end }}">{{ .Web.Rating }}</td>
                        </tr>
                        {{ if ne .Web.Server "" }}
                        <tr>
                            <td>Server</td>
                            <td class="float-right label label-info">{{ .Web.Server }}</td>
                        </tr>
                        {{ end }}
                        <tr class="mt-2">
                            <td>URL</td>
                            <td class="float-right">
                                <a href="https://anon.to/?{{ .Web.Url }}">{{ .Web.Url }}</a>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            {{ else }}
            <span>No webserver information found</span>
            {{ end }}
        </div>
    </div>
</div> <!-- !webserver -->

{{ end }}