{{ define "domain" }}
{{ template "header" . }}

<!-- === HEADER === -->

<div class="page-header card">
    <div class="row align-items-end">

        <!-- === Title === -->

        <div class="col-lg-6">
            <div class="page-header-title">
                <i class="bg-c-blue"><i data-feather="git-pull-request"></i></i>
                <div class="d-inline">
                    <h5>Domain Analysis</h5>
                    <span>Extract public information about a domain</span>
                </div>
            </div>
        </div> <!-- !title -->

        <!-- === Domain === -->

        <div class="col-lg-6">
            <div class="page-header-breadcrumb">
                <form method="POST" action="/domain">
                    <div class="input-group mb-0 d-flex justify-content-center">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="domain"><i data-feather="git-pull-request"></i></span>
                        </div>
                        <input type="text" name="domain" class="form-control" style="max-width: 300px;"
                            placeholder="Target domain" {{ if .Value }} value="{{ .Value }}" {{ end }}
                            pattern="^(?:[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?\.)+[a-z0-9][a-z0-9-]{0,61}[a-z0-9]$">
                        <div class="input-group-append">
                            <input type="submit" value="Analyze" class="btn btn-outline-primary"></input>
                        </div>
                    </div>
                </form>
            </div>
        </div> <!-- !domain -->

    </div>
</div>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="row">

                    {{ template "domain/whois" . }}
                    {{ template "domain/webserver" . }}
                    {{ template "domain/redirects" . }}
                    {{ template "domain/subdomains" . }}

                </div>
            </div>
        </div>
    </div>
</div>


{{ template "footer" . }}
{{ end }}