{{ define "header" }}

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- === METADATA === -->

    <title>Elliot</title>
    <link rel="icon" href="#" type="image/x-icon">

    <meta name="author" content="Kike Fontan (@CosasDePuma)" />
    <meta name="description" content="Elliot Frontend Web App" />
    <meta name="keywords" content="cosasdepuma, elliot">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <!-- === VENDOR === -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    
    <!-- jQuery -->
    <link rel="stylesheet" type="text/css" href="/static/vendor/jquery/css/jquery-datatable.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Waves -->
    <link rel="stylesheet" type="text/css" href="/static/vendor/waves/css/waves.min.css">
    <!-- Feather -->
    <link rel="stylesheet" type="text/css" href="/static/vendor/feather/css/feather.min.css">
    
    <!-- === STYLES === -->

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/widget.css">
</head>

<body>

    <!-- === LOADER === -->

    <div class="loader-bg">
        <div class="loader-bar"></div>
    </div>

    <!-- === WEBSITE === -->

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <!-- === NAVBAR === -->

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">

                    <!-- === Navbar (Logo) === -->

                    <div class="navbar-logo">

                        <!-- === Logo === -->

                        <a href="/domain/osint">
                            <img class="img-fluid" src="#logo" alt="Elliot" />
                        </a>

                        <!-- === Toggle (mobile) === -->

                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="feather icon-menu icon-toggle-right"></i>
                        </a>

                        <!-- === Three dots (mobile) === -->

                        <a class="mobile-options waves-effect waves-light">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">

                        <!-- === Navbar (Version) === -->

                        <ul class="nav-left">
                            <li>
                                <span><b>TFG Version</b> <small>1.0.0</small></span>
                            </li>
                        </ul>

                        <!-- === Navbar (Icons) === -->

                        <ul class="nav-right">

                            <!-- === Search === -->

                            <li class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-prepend search-close">
                                            <div class="input-group-text">
                                                <i data-feather="x"></i>
                                            </div>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Enter Keyword">
                                        <span class="input-group-append search-btn">
                                            <div class="input-group-text">
                                                <i data-feather="search"></i>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </li>

                            <!-- === Fullscreen === -->

                            <li>
                                <a href="#!" class="waves-effect waves-light" onclick="javascript:toggleFullScreen()">
                                    <i class="full-screen" data-feather="maximize"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- === PAGE === -->

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">

                    <!-- === SIDEBAR === -->

                    <nav class="pcoded-navbar">
                        <div class="nav-list">
                            <div class="pcoded-inner-navbar main-menu">

                                <!-- === Navigation Category === -->

                                <div class="pcoded-navigation-label">Navigation</div>
                                <ul class="pcoded-item pcoded-left-item">
                                
                                    <!-- === BugBounty Page === -->

                                    <li class="pcoded-hasmenu pcoded-trigger">
                                        <a href="javascript:void(0)" class="waves-effect waves-dark">
                                            <span class="pcoded-micon">
                                                <i data-feather="git-pull-request"></i>
                                            </span>
                                            <span class="pcoded-mtext">Domain Analysis</span>
                                        </a>
                                        <ul class="pcoded-submenu" style="display: block">
                                            <li class="active">
                                                <a href="/domain/osint" class="waves-effect waves-dark">
                                                    <span class="pcoded-mtext">OSINT</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </nav>

                    <!-- === CONTENT === -->

                    <div class="pcoded-content">

{{ end }}

{{ define "footer" }}

                    </div>

                    <div id="styleSelector">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- === VENDOR === -->

    <!-- Feather Icons -->
    <script type="text/javascript" src="/static/vendor/feather/js/feather.min.js"></script>
    <script>feather.replace()</script>
    <!-- jQuery -->
    <script type="text/javascript" src="/static/vendor/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/vendor/jquery/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/vendor/jquery/js/jquery-slimscroll.js"></script>
    <script type="text/javascript" src="/static/vendor/jquery/js/jquery-datatable.min.js"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="/static/vendor/bootstrap/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Waves -->
    <script type="text/javascript" src="/static/vendor/waves/js/waves.min.js"></script>
    <!-- PCoded -->
    <script type="text/javascript" src="/static/vendor/pcoded/js/pcoded.min.js"></script>
    <script type="text/javascript" src="/static/vendor/pcoded/js/vertical-layout.min.js"></script>
    
    <!-- === JS === -->
    <script type="text/javascript" src="/static/js/default.js"></script>
</body>
</html>

{{ end }}